:root
{
  --main-navbar : #0091ea;
  --main-navbar-text : #fff;
  --main-background-color : #fff;
  --main-background-light-grey : #fafafa;
  --main-text-color : black;
}

#page-container {
  position: relative;
  min-height: 75vh;
}

body 
{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  
  background-color: var(--main-background-color);
  color : var(--main-text-color)
}

code 
{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Error page starts */

.errorpage-image
{
    background-image: url("../img/errorpage.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.errorpage-text
{
  font-size: 12vw;
  font-weight: bolder;
  text-align: center;
}

/* Error page ends */

/* Home page starts, ends at 603 */

/* Nav bar yaa */

.navbar 
{
  background-color: var(--main-navbar) !important;
  min-height: 80px;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.navbar-brand 
{
  font-weight: bold;
  padding: 0 15px;
  height: 80px;
  font-size: 25px;
  line-height: 80px;
}

.navbar-toggle 
{
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

 .menu-item 
 {
	color: var(--main-navbar-text) !important;
	display: block;
	font-size: 16px;
  padding: 10px 20px !important;
  margin: 5px 5px;
} 

a.menu-item:hover, .active
{
  color: var(--main-navbar) !important;     /* to override the default text colour */
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

a.menu-item:hover
{
  background-color: var(--main-navbar-text);
}

.active
{
  background-color: var(--main-navbar-text);
}

.navigation-language-selection
{
  cursor: pointer;
}

/* Nav bar ends */

/*  Nightmode switch starts */

#nightmode-switch
{
  margin-right: 30px;
  padding-top: 5px;
}


.switch {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 14px 0px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.nightmode-label
{
  color: var(--main-navbar-text);
  display: inline-block;
  position: relative;
  padding : 10px 20px 0 0px;
  margin : auto;
}

/* Nightmode switch ends */

/* Banner ~ home starts */
#Banner {
  position: relative;
  height: 90vh;
  background-image: url("../img/home/sliderbackground1.jpg");
  background-position: center;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  /* Adds a border to text */
  margin-top: -15px;
}
#Banner .content-wrap 
{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  left: 50%;
}
#Banner .content-wrap h1 
{
  font-size: 80px;
  padding: 0;
}
#Banner .content-wrap h3 
{
  font-size: 40px;
  padding: 0;
}


/* Banner ~ home ends */

/* why-a-website */

.why-a-website
{
  margin: 75px auto 50px;
}

.heading-why-a-website
{
  margin: 0 0 30px 0;
}

/* why-a-website ends */

/* TechUsed starts */

section.tech-used
{
   margin: 0px auto 20px;
   background-color: var(--main-background-light-grey);
}

.tech-used-container
{
  margin: 0px 5%;
  padding-bottom: 10px ;
}

.tech-used-head
{
  margin-bottom: 30px;
  padding: 30px 0px 15px 0px;
  text-align: center;
  color: var(--main-text-color);
}

.card
{
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  text-align: center;
  margin-bottom: 30px !important;
}

/* TechUsed ends */ 

/* AboutHome starts */

#about-home.container
{
   margin: 20px auto 40px;
}

#Services 
{
  background-color: var(--main-background-color);
}

.about-home-heading
{
  margin-bottom: 40px;
}

#Services .service-box 
{
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
#Services .service-icon 
{
  width: 100%;
  height: 220px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
}

#Services .service-content
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 220px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
  background-color: #888;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}
#Services .service-box .service-icon .front-content 
{
  position: relative;
  top: 80px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

#Services .service-box .service-icon .front-content h3, #Services .service-box .service-content h3 
{
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
#Services .service-box .front-content p, #Services .service-box .service-content p 
{
  font-size: 16px;
  color: #fff;
  margin: 0;
}


#Services .service-box .blue 
{
  background-color: #02b3e4;
}
#Services .service-box .green 
{
  background-color: #02ccba;
}

#Services .service-box:hover .service-icon 
{
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}
#Services .service-box:hover .service-content 
{
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

.about-home-link
{
  margin: 20px auto;
}

/* AboutHome ends */

/* Counter banner starts */

#mu-counter 
{
	background-size: cover;
	/* display: inline; */
	float: left;
	position: relative;
  width: 100%;
  margin-bottom: 50px;
  margin-top: -30px;
}

#mu-counter::before 
{
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.65;
	background-color: var(--main-background-color);
}

.mu-counter-area {
	/* display: inline; */
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-counter-area h2 
{
	color: var(--main-text-color);
	text-align: center;
}

.mu-counter-block 
{
	/* display: inline; */
	float: left;
	width: 100%;
}

.mu-single-counter 
{
	/* display: inline; */
	float: left;
	text-align: center;
	width: 100%;
}

.mu-single-counter span 
{
	border-right: 1px solid var(--main-text-color);
	color: var(--main-text-color);
	font-size: 40px;
	padding: 32px 20px;
	margin-bottom: 0px;
	/* display: inline-block; */
	float: left;
}

.mu-single-counter-content 
{
	/* display: inline; */
	float: left;
	text-align: left;
	padding-left: 20px;
	padding-top: 16px;
}

.counter-value 
{
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 0;
	color: var(--main-text-color);
	line-height: 1.2;
}

.mu-counter-name
{
	color: var(--main-text-color);
	font-weight: 400;
	font-size: 18px;
}

.counter-text
{
  color: var(--main-text-color);
  margin-bottom: 50px;

}

/* Counter banner ends */

/* Comments start */

.entire-commentsection
{
  margin: 10% auto;
}

.comment-cantfetch
{
  text-align: center;
}

.comment-loading
{
  margin: 0 40vw;
}

.comment-section
{
  margin: 5% auto;
  text-align: left;
}

.comment-form .form-control
{
  border-radius:1rem;
  margin: 10px auto;
  background-color: var(--main-background-light-grey);
  color: var(--main-text-color);
}

.comment-form .form-control::placeholder 
{ 
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a5a5a5;
  opacity: 1; /* Firefox */
}

.comment-button 
{
	background-color:#44c767;
	border-radius:25px;
	border:1px solid #18ab29;
	color:#ffffff;
  padding: 10px 100px;
  margin: auto;
}
.comment-button:hover 
{
	background-color:#5cbf2a;
}
.comment-button:active 
{
	position:relative;
	top:1px;
}

.comment-picture
{
  width: 100%;
}

.comment-body
{
  text-align: left;
  margin: 15px auto;
}

.comment-footer
{
  font-size: x-small;
  text-align: right;
  padding: 2px;
}

.comment-already
{
  margin: 10px auto;
}

/* Comments end */

/* Footer starts */

footer.footer 
{
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: var(--main-navbar);
  
}
footer.footer .social-link {
  display: block;
  height: 55px;
  width: 55px;
  font-size: 20px;
  background-color: var(--main-navbar);
  border: none;
  padding: 10px;
}
footer.footer .social-link:hover 
{
  background-color: #066eaf;
}

.footer-text
{
    color: var(--main-navbar-text);
    font-size: 12px;
}

/* Footer ends */

/* Home page ends */

/* Contact page starts */

#contact-mainone 
{
  position: relative;
  height: 100vh;
  background-position: center center;
  background-image: url("../img/contact/contactbackground.jpg");
  color: #fff;
  margin-top: -15px;
  padding-top: 20px;
  background-size: cover;
}

.contact-heading
{
  text-align: center;
  font-size: 60px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  /* Adds a border to text */
}

.contact-para
{
  text-align: center;
  margin: 25px auto;
}

.contact-form-origin
{
  margin: 10px 5%;
}

.contact-form .form-control
{
  border-radius:1rem;
  margin: 10px auto;
  background-color: var(--main-background-light-grey);
  color: var(--main-text-color);
  text-indent: 30px;
}

.contact-form .form-control::placeholder 
{ 
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a5a5a5;
  opacity: 1; /* Firefox */
}

.contact-form-icon
{
  position: absolute; 
  color: var(--main-text-color); 
  margin: 7px;
}

.contact-form-textarea
{
  min-height: 100px;
  max-height: 270px;
}

.contact-button 
{
	background-color:#48d4ff;
	border-radius:25px;
	border:1px solid #31c3f0;
	color:#ffffff;
  padding: 10px 100px;
  margin: 40px auto;
}
.contact-button:hover 
{
	background-color:#1bcaff;
}
.contact-button:active 
{
	position:relative;
	top:1px;
}

.contact-form-info
{
  font-size: small;
  margin: 0 5%;
}

.contact-form-info-inter
{
  margin: 5px;
}


/* Contact page ends */