/* Large devices like desktop and laptop */

@media (min-width: 768px)
{
  /* Navbar starts */

  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px  */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }

  /* Navbar ends */
  
}

/* Medium devices like tablets */

@media (min-width: 768px) and (max-width: 991px) 
{
    /* Navbar start */

    .navbar-nav > li > a 
    {
        /* (80px - line-height of 27px) / 2 = 26.5px  */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
    
    /* Navbar ends */

    /* Banner~home starts */

    #Banner 
    {
        height: 75vh;
    }

    #Banner .content-wrap h1 {
      font-size: 40px;
    }
    #Banner .content-wrap h3 {
      font-size: 24px;
    }

    /* Banner~home ends */

    /* abouthome starts */
    
    #Services
    {
      width: 75vw;
      margin: 0px auto;
    }

    /* abouthome ends */

    /* Footer starts */

    footer.footer .social-link {
      height: 45px;
      width: 45px;
      font-size: 18px;
    }

    /* Footer ends */

    /* Errorpage starts */
    
    .errorpage-text
    {
      font-size: 20vw;
    }

    /* Errorpage ends */

    /* counter starts */
    
    .mu-counter-name
    {
      font-weight: 300;
      font-size: 18px;
    }

    .counter-value 
    {
      font-size: 30px;
    }

    /* Counter ends */

    /* Comment section starts */

    .comment-picture
    {
      width: 100%;
    }

    .comment-body
    {
      text-align: left;
      font-size: small;
      margin: 15px auto;
    }

    /* Comment section ends */

    /* Contact page starts */

   

    /* Contact page ends */
}

/* Small devices like phones */

@media (max-width: 768px) 
{
    /* Navbar starts */

    .navbar-nav > li > a 
    {
        /* (80px - line-height of 27px) / 2 = 26.5px  */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }

    /* Navbar ends */

    /* Banner~home starts */

    #Banner 
    {
        height: 50vh;
    }

    #Banner .content-wrap h1 
    {
      font-size: 36px;
    }
    #Banner .content-wrap h3 
    {
      font-size: 20px;
    }

    /* Banner~home ends */

    /* abouthome starts */

    #Services
    {
      width: 75vw;
      margin: 0px auto;
    }

    /* abouthome ends */

    /* Techused starts */

    .card
    {
      width: 75vw;
      padding-bottom: 20px;
      margin-bottom: 30px !important;
      margin: 0px auto 0px;
    }

    /* Techused ends */

    /* Footer starts */

    footer.footer .social-link {
      width: 40px;
      height: 40px;
      font-size: 14px;
    }

    /* Footer ends */

    /* Error page starts */

    .errorpage-text
    {
      font-size: 20vw;
    }

    /* Errorpage ends */

    /* COunter starts */

    #mu-counter 
    {
      margin-bottom: 10px;
    }

    .mu-counter-name
    {
      font-weight: 300;
      font-size: 14px;
    }

    .counter-value 
    {
      font-size: 30px;
    }

    /* Counter ends */

    /* Comment section starts */

    .comment-picture
    {
      width: 20%;
    }

    .comment-body
    {
      text-align: left;
      font-size: small;
      margin: 15px auto;
    }

    /* Comment section ends */

    /* Contact page starts */

    .contact-heading
    {
      font-size: 50px;
    }

    .contact-form-textarea
    {
      min-height: 100px;
      max-height: 100px;
    }

    /* contact page ends */
}